.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CodeLite specific
*.project
*.workspace
.codelite/
*.session
*.tags*
*.clang
*.txt.user
*.make
Debug/
Release/
*.o.d
*.stackdump
Makefile
*.mk
build-Debug/
compile_commands.json
.clang-format
.clangd

cmake-build-debug/